<form action="/result.php" method="post">
  <label for="region">地區：</label><br>
  <input type="text" id="region" name="region"><br>
  <label for="person">出租者：</label><br>
  <input type="text" id="person" name="person"><br>
  <label for="identity">出租者身份：</label><br>
  <input type="text" id="identity" name="identity"><br>
  <label for="phone">聯絡電話：</label><br>
  <input type="text" id="phone" name="phone"><br>
  <label for="building_type">型態：</label><br>
  <input type="text" id="building_type" name="building_type"><br>
  <label for="current_condition">現況：</label><br>
  <input type="text" id="current_condition" name="current_condition"><br>
  <label for="gender">性別要求：</label><br>
  <input type="text" id="gender" name="gender"><br>
  <input type="submit" value="Submit">
</form>